---
// import stuff here
import "../styles/Projects.css";
import AG from "../images/android-generic.png";
import BR from "../images/BR.png";
import BO from "../images/Bo.png";
import BD from "../images/boringdroid.png";
import SG from "../images/supremegamers.png";
import WD from "../images/waydroid.png";
---

<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />

<section id="projects">
  <div class="p-container">
    <h1 class="title">Our Projects</h1>
    <div class="Projects">
      <div class="P-cont link">
        <div class="project-info">
          <div class="info">
            <h2>Android-Generic</h2>
            <p>
              Bringing Android ROMs to PCs and GSI devices everywhere. Simple to
              start, easy to use development toolkit. Go get your ROM on :)
            </p>
          </div>
          <i class="gg-arrow-top-right"></i>
        </div>
      </div>
      <div class="P-cont">
        <div class="project-info">
          <div class="info">
            <h2>BlissRoms</h2>
            <p>
              A fully featured replacement OS for your Android device based off
              AOSP, bringing many customizations, features, and optimizations to
              your device.
            </p>
          </div>
          <i class="gg-arrow-top-right"></i>
        </div>
      </div>
      <div class="P-cont">
        <div class="project-info">
          <div class="info">
            <h2>BlissOS</h2>
            <p>
              Bliss OS brings all the features and options of Bliss ROM to your
              PC, tablet, chromebook and mackbook. and is available in many
              different configurations.
            </p>
          </div>
          <i class="gg-arrow-top-right"></i>
        </div>
      </div>
      <div class="P-cont">
        <div class="project-info">
          <div class="info">
            <h2>boringdroid</h2>
            <p>
              boringdroid is a boring project to provide patch set to run
              multi-window on low version AOSP.
            </p>
          </div>
          <i class="gg-arrow-top-right"></i>
        </div>
      </div>
      <div class="P-cont">
        <div class="project-info">
          <div class="info">
            <h2>Supreme Gamers</h2>
            <p>
              Android-x86 Gaming Community and creators of Gearlock Recovery for
              Android-x86 based projects
            </p>
          </div>
          <i class="gg-arrow-top-right"></i>
        </div>
      </div>
      <div class="P-cont">
        <div class="project-info">
          <div class="info">
            <h2>Waydroid</h2>
            <p>
              Waydroid uses a container-based approach to boot a full Android
              system on a regular GNU/Linux system like Ubuntu.
            </p>
          </div>
          <i class="gg-arrow-top-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>
