---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Aboutus from "../components/Aboutus.astro";
import Achievements from "../components/Achievements.astro";
import Projects from "../components/Projects.astro";
export interface Props {
  title?: string;
}
import "../styles/global.css";
import "../styles/loco.css";
const { title = "BlissLabs" } = Astro.props as Props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<body class="data-scroll-container">
  <Navbar />
  <Hero />
  <Aboutus />
  <Achievements />
  <Projects />
  <slot />
</body>
